<div class="sessie-kaart" (click)="onLaad()">
    <div class="sessie-links">
        <div class="sessie-nummer">{{ sessie.level_number }}</div>
        <div class="sessie-info">
            <h3>{{ sessie.level_title }}</h3>
            <p>{{ formatDatum(sessie.last_active) }}</p>
            <div class="voortgang-balk">
                <div class="voortgang-fill"  [style.with.%]="getVoortgang()"></div>
            </div>
        </div>
    </div>
    <button class="btn-verwijder" (click)="onVerwijder($event)">🗑</button>
</div>